@using MVCDYNAMICPROJECT.Models.Entity
@model List<TBLMUSTERILER>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>MÜŞTERİ ID</th>
        <th>MÜŞTERİ ADI</th>
        <th>MÜŞTERİ SOYADI</th>
        <th>SİL</th>
        <th>GÜNELLE</th>


    </tr>
    <tbody>
        @foreach (var musteri in Model)
        {

        <tr>
            <th>@musteri.MUSTERIID</th>
            <td>@musteri.MUSTERIAD</td>
            <td>@musteri.MUSTERISOYAD</td>
            <td><a href="/MUSTERI/SIL/@musteri.MUSTERIID" class=" btn btn-danger">SİL</a></td>
            <td><a href="/MUSTERI/GUNCELLE/@musteri.MUSTERIAD" class="btn btn-success">GÜNCELLE</a></td>

        </tr>
        }
    </tbody>

</table>
<a href="/Musteri/YeniMusteri/" class="btn btn-primary">YENİ MÜŞTERİ EKLE</a>




