USE [MvcDbStok]
GO
/****** Object:  Table [dbo].[TBLKATEGORILER]    Script Date: 10.10.2021 00:53:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBLKATEGORILER](
	[KATEGORI] [smallint] IDENTITY(1,1) NOT NULL,
	[KATEGORIAD] [varchar](50) NULL,
 CONSTRAINT [PK_TBLKATEGORILER] PRIMARY KEY CLUSTERED 
(
	[KATEGORI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBLMUSTERILER]    Script Date: 10.10.2021 00:53:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBLMUSTERILER](
	[MUSTERIID] [int] IDENTITY(1,1) NOT NULL,
	[MUSTERIAD] [varchar](50) NULL,
	[MUSTERISOYAD] [varchar](50) NULL,
 CONSTRAINT [PK_TBLMUSTERILER] PRIMARY KEY CLUSTERED 
(
	[MUSTERIID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBLSATISLAR]    Script Date: 10.10.2021 00:53:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLSATISLAR](
	[SATISID] [int] IDENTITY(1,1) NOT NULL,
	[URUN] [int] NULL,
	[MUSTERI] [int] NULL,
	[ADET] [tinyint] NULL,
	[FIYAT] [decimal](18, 2) NULL,
 CONSTRAINT [PK_TBLSATISLAR] PRIMARY KEY CLUSTERED 
(
	[SATISID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBLURUNLER]    Script Date: 10.10.2021 00:53:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBLURUNLER](
	[URUNID] [int] IDENTITY(1,1) NOT NULL,
	[URUNAD] [varchar](50) NULL,
	[MARKA] [varchar](50) NULL,
	[URUNKATEGORI] [smallint] NULL,
	[FIYAT] [decimal](18, 2) NULL,
	[STOK] [tinyint] NULL,
 CONSTRAINT [PK_TBLURUNLER] PRIMARY KEY CLUSTERED 
(
	[URUNID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TBLKATEGORILER] ON 

INSERT [dbo].[TBLKATEGORILER] ([KATEGORI], [KATEGORIAD]) VALUES (1, N'BEYAZ EŞYA')
INSERT [dbo].[TBLKATEGORILER] ([KATEGORI], [KATEGORIAD]) VALUES (2, N'KÜÇÜK EV ALETLERİ')
INSERT [dbo].[TBLKATEGORILER] ([KATEGORI], [KATEGORIAD]) VALUES (3, N'BİLGİSAYAR')
SET IDENTITY_INSERT [dbo].[TBLKATEGORILER] OFF
SET IDENTITY_INSERT [dbo].[TBLMUSTERILER] ON 

INSERT [dbo].[TBLMUSTERILER] ([MUSTERIID], [MUSTERIAD], [MUSTERISOYAD]) VALUES (2, N'MUSA', N'AKOLUK')
INSERT [dbo].[TBLMUSTERILER] ([MUSTERIID], [MUSTERIAD], [MUSTERISOYAD]) VALUES (3, N'ENGİN', N'MEYDAN')
INSERT [dbo].[TBLMUSTERILER] ([MUSTERIID], [MUSTERIAD], [MUSTERISOYAD]) VALUES (1010, N'SAMED', N'SARGIN')
SET IDENTITY_INSERT [dbo].[TBLMUSTERILER] OFF
SET IDENTITY_INSERT [dbo].[TBLSATISLAR] ON 

INSERT [dbo].[TBLSATISLAR] ([SATISID], [URUN], [MUSTERI], [ADET], [FIYAT]) VALUES (2, 4, 2, 1, CAST(145.00 AS Decimal(18, 2)))
INSERT [dbo].[TBLSATISLAR] ([SATISID], [URUN], [MUSTERI], [ADET], [FIYAT]) VALUES (3, 1, 2, 1, CAST(145.00 AS Decimal(18, 2)))
INSERT [dbo].[TBLSATISLAR] ([SATISID], [URUN], [MUSTERI], [ADET], [FIYAT]) VALUES (4, 1, 2, 1, CAST(145.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[TBLSATISLAR] OFF
SET IDENTITY_INSERT [dbo].[TBLURUNLER] ON 

INSERT [dbo].[TBLURUNLER] ([URUNID], [URUNAD], [MARKA], [URUNKATEGORI], [FIYAT], [STOK]) VALUES (1, N'ÇAMAŞIR MAKİNESİ', N'ARÇELİK', 1, CAST(1235.00 AS Decimal(18, 2)), 151)
INSERT [dbo].[TBLURUNLER] ([URUNID], [URUNAD], [MARKA], [URUNKATEGORI], [FIYAT], [STOK]) VALUES (2, N'BULAŞIK MAKİNESİ', N'ARÇELİK', 1, CAST(850.00 AS Decimal(18, 2)), 10)
INSERT [dbo].[TBLURUNLER] ([URUNID], [URUNAD], [MARKA], [URUNKATEGORI], [FIYAT], [STOK]) VALUES (3, N'SU ISITICI', N'VESTEL', 2, CAST(25.00 AS Decimal(18, 2)), 50)
SET IDENTITY_INSERT [dbo].[TBLURUNLER] OFF
ALTER TABLE [dbo].[TBLSATISLAR]  WITH CHECK ADD  CONSTRAINT [FK_TBLSATISLAR_TBLMUSTERILER] FOREIGN KEY([MUSTERI])
REFERENCES [dbo].[TBLMUSTERILER] ([MUSTERIID])
GO
ALTER TABLE [dbo].[TBLSATISLAR] CHECK CONSTRAINT [FK_TBLSATISLAR_TBLMUSTERILER]
GO
ALTER TABLE [dbo].[TBLSATISLAR]  WITH CHECK ADD  CONSTRAINT [FK_TBLSATISLAR_TBLURUNLER] FOREIGN KEY([URUN])
REFERENCES [dbo].[TBLURUNLER] ([URUNID])
GO
ALTER TABLE [dbo].[TBLSATISLAR] CHECK CONSTRAINT [FK_TBLSATISLAR_TBLURUNLER]
GO
ALTER TABLE [dbo].[TBLURUNLER]  WITH CHECK ADD  CONSTRAINT [FK_TBLURUNLER_TBLKATEGORILER] FOREIGN KEY([URUNKATEGORI])
REFERENCES [dbo].[TBLKATEGORILER] ([KATEGORI])
GO
ALTER TABLE [dbo].[TBLURUNLER] CHECK CONSTRAINT [FK_TBLURUNLER_TBLKATEGORILER]
GO
