@using MVCDYNAMICPROJECT.Models.Entity
@model List<TBLKATEGORILER>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<table class="table table-bordered">
<tr>
    <th>KATEGORI ID</th>
    <th> KATEGORI ADI</th>
    
</tr>
    <tbody>
        @foreach (var ktgr in Model)
            {
                <tr>
                    <th>@ktgr.KATEGORI</th>
                    <td>@ktgr.KATEGORIAD</td>
                </tr>
            }
    </tbody>
</table>

