@using MVCDYNAMICPROJECT.Models.Entity
@model List<TBLKATEGORILER>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<table class="table table-bordered">
<tr>
    <th>KATEGORI ID</th>
    <th> KATEGORI ADI</th>
    <th>SİL</th>
    <th>GÜNCELLE</th>
    
</tr>
    <tbody>
        @foreach (var ktgr in Model)
            {
                <tr>
                    <th>@ktgr.KATEGORI</th>
                    <td>@ktgr.KATEGORIAD</td>
                    <td><a href="/KATEGORI/SIL/@ktgr.KATEGORI" class=" btn btn-danger">SİL</a></td>
                    <td><a href ="/KATEGORI/GUNCELLE/@ktgr.KATEGORI" class="btn btn-success">GÜNCELLE</a></td>
                </tr>
            }
    </tbody>
</table>
<a href="/KATEGORI/YENIKATEGORI/" class="btn btn-primary">YENİ KATEGORİ EKLE</a>
